.editForm {
    display: flex;
    background-color: rgb(237, 228, 193);
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 19px;
    width: 27%;
    padding: 8%;
    margin-left: 28%;
    margin-top: 9%;

}

.editForm select {
    text-align: center;
    padding: 2%;
}

.editForm button {
    text-align: center;
    padding: 2%;
}